@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=MedievalSharp&family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: white;
    background-image: url("img/backgroundEmpire.png");
    background-size: cover;
}
section {
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: 'Eagle Lake', cursive;
    font-size: 58.59px;
    margin: -30px 0px 30px 0px;
}

h3 {
    font-size: 37.50px;
}

p {
    font-family: 'MedievalSharp', cursive;
}

#startScreen {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#branding {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

#branding h3 {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #6413b0, #d60042);
    padding-bottom: 10px;
}

#branding h3 span {
    background-color: #6413b0;
    background-image: linear-gradient(90deg, #6413b0, #d60042);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#mainMenu {
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
}

#mainMenuDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainMenuForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 25px;
}


#createCharacter1{
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 44px;
    background: rgb(0, 0, 0, 0.55);
}

#chooseRaze {
    padding: 10px 50px 10px 50px;
}

#orcLabel {
    background-image: url("img/orc.jpg");
    background-size: cover;
}

.razes {
    display: none;
}

.razesLabels {
    display: inline-block;
    border: 1px solid darkred;
    padding: 10px;
    width: 100px;
    height: 100px;
    justify-content: center;
    box-sizing: border-box;
}

#humanLabel {
    background-image: url("img/human.jpg");
    background-size: cover;
}
#elfLabel {
    background-image: url("img/elf.jpg");
    background-size: cover;
}
#dwarfLabel {
    background-image: url("img/elf.jpg");
    background-size: cover;
}


#characterImg {
    max-width: 485px;
    max-height: 485px;
}

#loadingGameScreen {
    background-color: black;
    display: none;
}

#createCharacter2 {
    background-color: black;
    display: none;
}

#createCharacter3 {
    background-color: black;
    display: none;
}

#characterProfile{
    background-color: black;
    display: none;
}

#greetings {
    background-color: black;
    display: none;
}