@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=MedievalSharp&family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    color: white;
    background-image: url("img/chaosZone.jpg");
    background-size: cover;
}
section {
    width: 100vw;
    max-width: 1366px;
    height: 80vh;
}

#mainMenuSubtitle {
    font-family: 'Eagle Lake', cursive;
    font-size: 58.59px;
    margin: -30px 0px 0px 0px;
}

h2 {
    font-size: 46.88px;
    font-family: 'Eagle Lake', cursive;
}

h3 {
    font-size: 37.50px;
}

p {
    font-family: 'MedievalSharp', cursive;
}

#headerTitle {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    background: rgb(0, 0, 0, 0.55);
} 

#startScreen {
    background-color: black;
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#branding {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

#branding h3 {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #6413b0, #d60042);
    padding-bottom: 10px;
}

#branding h3 span {
    background-color: #6413b0;
    background-image: linear-gradient(90deg, #6413b0, #d60042);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#mainMenu {
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mainMenuDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainMenuForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 25px;
}


#createCharacter1{
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 46px 0px 20px 0px;
    gap: 44px;
    background: rgb(0, 0, 0, 0.55);
}

#chooseRaze, #chooseClass, #characterGeneralInfo{
    padding: 10px 10px 10px 20px;
    width: 33vw;
}

.razes, .classes {
    display: none;
}

.razesLabels, .classesLabels {
    display: inline-block;
    border: 1px solid darkred;
    padding: 10px;
    width: 100px;
    height: 100px;
    justify-content: center;
    box-sizing: border-box;
}

.classesLabels {
    border: none;
}

#humanLabel {
    background-image: url("img/humanmale.png");
    background-size: cover;
}
#elfLabel {
    background-image: url("img/elffemale.png");
    background-size: cover;
}

#orcLabel {
    background-image: url("img/orcmale.png");
    background-size: cover;
} 

#dwarfLabel {
    background-image: url("img/dwarfmale.png");
    background-size: cover;
}

#formRazes, #formclasses {
    display: flex;
    gap: 10px
}


#characterImgRazes, #characterImgClasses, #profileImgSection {
    max-width: 33vw;
    max-height: 545px;
}


#razeDescription, #classDescription, #characterSkillsInfo {
    width: 33vw;
    padding: 10px 40px 0px 40px;
    margin: 0px;
}

#loadingGameScreen {
    background-color: black;
    display: none;
    flex-direction: column;
    overflow: auto;
    width: 75vw;
    height: 80vh;
}

.charactersThumbnail {
    max-width: 10vw;
    max-height: 175px;
}

.loadedCharactersDiv {
    display: flex;
    gap: 20px;
}

.loadGameImgContainer {
    display: flex;
    flex-direction: column;
}

#createCharacter2 {
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 46px 0px 20px 0px;
    gap: 44px;
    background: rgb(0, 0, 0, 0.55);
}

#createCharacter3 {
    background-color: black;
    display: none;
}

.reRollButtons {
    display: none;
}

#reRollMessage {
    display: none;
}

#characterProfile{
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: 46px 0px 20px 0px;
    gap: 44px;
    background: rgb(0, 0, 0, 0.55);
}

#selectedCharacterName {
    margin: 0;
}

#profileImg {
    max-height: 500px;
}

#greetings {
    background-color: black;
    display: none;
}